*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,300;1,800&display=swap');

@font-face {
    font-family: 'octosquares';
    src: url(fonts/TT.Octosquares/TTOctosquares-Bold.ttf) format(truetype);
}

@font-face {
    font-family: 'octosquares2';
    src: url(fonts/TT.Octosquares/TTOctosquares-Light.ttf) format(truetype);
}

#navbar{
    padding: 13px;
    background-color:#000123 ;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

ul{
    display: flex;
}

a{
    margin-right: 25px;
    font-family:'octosquares';
    text-decoration: none;
    color: #FF0F7B;
    font-size: 20px;
}

#navbar h2{
    display: flex;
    font-family: 'Ysabeau', sans-serif;
    color: white;
    margin-right: 800px;
}

header{
    background-image: url(img/game-console-6603120_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px;
}

#title2{
    text-align: center;
    font-family:'octosquares2';
    color: white;
    font-size: 43px;
}

.btn{
    display: flex;
    justify-content: center;
    padding: 80px;

}

#button{
    background-color: #FF0F7B;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
    font-family: "octosquares2";
    
}

#pag2{
    background-color: #000123;
    background-position: fixed;
}

#title3{
    text-align: justify;
    color: white;
    padding: 180px 200px;
}

#title3 h1{
    text-align: center;
    margin-bottom: 50px;
    font-family:'octosquares';
    text-decoration: none;
    color: white;
    font-size: 75px;
}

#title3 h2{
    text-align: center;
    text-justify: auto;
    font-family:'octosquares';
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#collection{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

#link_our_page{
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px; /* Espaço entre as imagens */
    padding: 70px;
}

.grid-container img{
    width: 200px;
    height: 280px;
}

.products h1{
    padding: 50px;
    text-align: center;
    font-family:'octosquares';
    text-decoration: none;
    color: white;
    font-size: 75px;
}

#avaliações{
    background-color: #000123;
    padding: 120px;
}

#avaliações h1{
    text-align: center;
    color: #FF0F7B;
    font-family:'octosquares';
    font-size: 75px;
    margin-bottom: 80px;
}

#avaliações p{
    margin-top: 20px;
    padding: 12px;
    text-align: center;
    font-family:'octosquares2';
    color: white;
    font-size: 20px;

}

.coment_container{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.coment_container img{
    border: solid 2px #FF0F7B;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #000123;
}
.socialmedias{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 50px 500px;
}

.socialmedias img{
    width: 50px;
    margin-bottom: 20px;
}

footer h2{
    padding: 20px;
    text-align: center;
    font-family:'octosquares2';
    color: white;
    font-size: 30px;
}




/* Responsividade */

@media(max-width: 768px) 
{
    header{
        background-image: url(img/game-console-6603120_1280.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #navbar{
        padding: 16px;
        background-color:#000123 ;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
       
    }
    
    #navbar ul{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    #navbar li{
        text-align: center;
    }

    #logo h2{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 20px;
    }

    .shopnow{
        display: flex;
        justify-content: center;
        padding: 50px;

    }

    #button{
        background-color: #FF0F7B;
        color: white;
        border: none;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
    
    }

    /*Page 02*/

    #pag2{
        background-color: #000123;
        background-position: fixed;
    }
    
    #title3{
        text-align: center;
        color: white;
        padding: 15px;
    }
    
    #title3 h1{

        text-align: center;
        text-justify: auto;
        margin-bottom: 35px;
        padding: 50px;
        font-family:'octosquares';
        text-decoration: none;
        color: white;
        font-size: 55px;
    }
    
    #title3 h2{
        padding: 25px;
        text-align: justify;
        text-justify:auto;
        font-family:'octosquares';
        text-decoration: none;
        color: white;
        font-size: 35px;
    }
    
    #link_our_page h3{
        display: flex;
        justify-content: center;
        font-size: 10px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px; /* Espaço entre as imagens */
        padding: 100px;
    }
    
    .grid-container img{
        width: 200px;
        height: 280px;
    }
    
    .products h1{
        padding: 50px;
        text-justify: auto;
        text-align: center;
        font-family:'octosquares';
        text-decoration: none;
        color: white;
        font-size: 55px;

    }

    
#avaliações{
    background-color: #000123;
    padding: 50px;
}

#avaliações h1{
    text-align: center;
    color: #FF0F7B;
    font-family:'octosquares';
    font-size: 45px;
    margin-bottom: 80px;
}

#avaliações p{
    margin-top: 20px;
    padding: 0px;
    text-align:justify;
    font-family:'octosquares2';
    color: white;
    font-size: 20px;

}

.coment_container{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coment_container img{
    border: solid 2px #FF0F7B;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 10%;
}

footer{
    background-color: #000123;
}
.socialmedias{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 50px;
}

.socialmedias img{
    width: 50px;
    margin-bottom: 20px;
}

footer h2{
    padding: 20px;
    text-align: center;
    font-family:'octosquares2';
    color: white;
    font-size: 30px;
}






}